*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
build
/captures
captures
.externalNativeBuild
.cxx
local.properties

app/build/
app/bin/
app/.settings/

app/.classpath
app/.class.bak
app/.project

.settings/
.classpath
.project
.ignore

*.class
